@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img,
  picture {
    max-width: 100%;
    display: block;
  }

  body {
    min-height: 100vh;
    font-family: "Kumbh Sans", sans-serif;
  }
}
* {
  text-decoration: none !important;
}
